<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e17fa6e3-4feb-4e26-9d92-699f3bb3fe77" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9221a618-4e78-4340-85fa-1418d278bef7",
      "label": "**slide item - {=imageDescription}**"
    }
  ]
}]]></Config>
</DataType>