<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c00f5108-6bad-46d3-9d50-5a8ef96d065c" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "04c26ba5-e33d-4d5c-9b43-a554ca59fd74",
      "name": "Containers"
    },
    {
      "key": "802b080a-d16a-400a-a483-676555e232c1",
      "name": "Components"
    },
    {
      "key": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "1f905182-af21-4c07-bf90-0b3a7ac0133d",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "dfbf6e60-6f1a-4268-9bea-0c5d78e11a45",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "04c26ba5-e33d-4d5c-9b43-a554ca59fd74"
    },
    {
      "contentElementTypeKey": "02ab3047-818b-4649-8dcf-997d2fe2d095",
      "allowAtRoot": true,
      "groupKey": "04c26ba5-e33d-4d5c-9b43-a554ca59fd74",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "5085b56b-9b4a-49aa-8959-2e10ad5965ae",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "30dbe262-4bbf-442f-a810-5d9e82a21b57",
      "allowAtRoot": false,
      "groupKey": "04c26ba5-e33d-4d5c-9b43-a554ca59fd74",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "656334d1-b869-45e8-b08a-83c920086141",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "03b343e6-11f7-4641-b6b5-9a20a612fa15",
      "allowAtRoot": false,
      "groupKey": "04c26ba5-e33d-4d5c-9b43-a554ca59fd74",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "fbaf5763-43ab-4a83-9dfa-a4b6f1f59d74",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "7ad622b3-b3dc-4271-ad9f-61af710aa97d",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6234a234-9778-4eb2-b9aa-e78fa8025c69",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "Heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a16d3fa6-bf80-41f1-9d72-1c090c39979f",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "Heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "70c4c6c5-557a-4120-84a6-1f69e8e189f7",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "Heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "55bca840-9b42-493c-8865-a2f561276596",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "Heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "09431556-38ce-4e55-bd01-132e09d731f6",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "Heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6b1964c7-d03a-4aad-9777-fbba01e653ab",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "Button Link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "49fe8c9d-5882-40a9-94df-f400ac192b4a",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "Link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b7945ab1-78db-4e29-8fc6-8d92548ab69a",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "Paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "bf6228df-16d6-4762-b849-0705344c8740",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "label": "Rich Text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "35f4f289-730b-4170-a02e-1aa668353ee2",
      "allowAtRoot": false,
      "groupKey": "55d8803c-bd8b-414c-877a-a3af0379159b",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6a47eaf1-6112-49cd-be9a-8136417ed07b",
      "allowAtRoot": false,
      "groupKey": "802b080a-d16a-400a-a483-676555e232c1",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cdc7e02c-f2da-4440-9b53-48d607742511",
      "allowAtRoot": true,
      "groupKey": "802b080a-d16a-400a-a483-676555e232c1",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "978e463c-2726-4fd0-a3e9-5c6afa952365",
      "allowAtRoot": false,
      "groupKey": "802b080a-d16a-400a-a483-676555e232c1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c6fb7730-1866-40d7-bb99-da2b0586e301",
      "allowAtRoot": true,
      "groupKey": "802b080a-d16a-400a-a483-676555e232c1"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>