<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec1d23f5-2d57-4151-a1d5-359495938813" Alias="Project List Page - Project Tags" Level="1">
  <Info>
    <Name>Project List Page - Project Tags</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>