<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec19d32a-4881-4dd0-be26-9d4f1caa5568" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X(formerly Twitter)",
    "YouTube"
  ]
}]]></Config>
</DataType>