<?xml version="1.0" encoding="utf-8"?>
<Media Key="7321ac05-1224-4af6-9ae2-bfd35187326b" Alias="Aaron Lambert" Level="2">
  <Info>
    <Parent Key="a0be0942-42f1-4f8e-baf9-a2c1a5da09a3">About </Parent>
    <Path>/About/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T07:15:27</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/42ijhej5/image-104-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>