<?xml version="1.0" encoding="utf-8"?>
<Media Key="a757b3c6-bd58-4d22-aeb3-b46c3c774e19" Alias="about hero world 1" Level="2">
  <Info>
    <Parent Key="7ac1a855-577d-406a-926e-e3d432717f99">Hero</Parent>
    <Path>/Hero/aboutHeroWorld1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T21:34:55</CreateDate>
    <NodeName Default="about hero world 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gqhpkrkd/rectangle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>