<?xml version="1.0" encoding="utf-8"?>
<Media Key="0be5da6f-3f13-4ba2-90b9-4ceb228903fa" Alias="Address Map" Level="2">
  <Info>
    <Parent Key="08d07e0e-9649-4eeb-b9f5-113f25c21488">Contact </Parent>
    <Path>/Contact/AddressMap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T07:35:05</CreateDate>
    <NodeName Default="Address Map" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tvtfp0ii/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>