<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4f6452c-cef1-4a60-b325-9f818cd161c3" Alias="Annual Report for Juva Inc." Level="2">
  <Info>
    <Parent Key="6666228e-33f7-4b3e-8388-fef9d2a7b51d">Projects</Parent>
    <Path>/Projects/AnnualReportForJuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T02:15:59</CreateDate>
    <NodeName Default="Annual Report for Juva Inc." />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/112fivxk/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>