<?xml version="1.0" encoding="utf-8"?>
<Media Key="20ddb13b-dca7-4ada-83c1-3fa63bf31a7e" Alias="Autograph" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Autograph</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-14T01:54:36</CreateDate>
    <NodeName Default="Autograph" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>