<?xml version="1.0" encoding="utf-8"?>
<Media Key="02b942ea-66b4-4dc9-ac31-0a169d65bf9a" Alias="Brandon Kerr" Level="2">
  <Info>
    <Parent Key="a0be0942-42f1-4f8e-baf9-a2c1a5da09a3">About </Parent>
    <Path>/About/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T07:15:57</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dd5bxyfp/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>