<?xml version="1.0" encoding="utf-8"?>
<Media Key="ede1a0d3-c38f-4b53-b931-0fb41095e3c9" Alias="Brand" Level="2">
  <Info>
    <Parent Key="f6f612cf-6a1d-439b-979b-65f17cf37ab9">Onatrix Logo</Parent>
    <Path>/OnatrixLogo/Brand</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T22:40:34</CreateDate>
    <NodeName Default="Brand" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eeofgd2u/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>