<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bf7abfe-b390-4cd0-bc95-fd8823a4e59e" Alias="breadcrumb 2" Level="2">
  <Info>
    <Parent Key="7ac1a855-577d-406a-926e-e3d432717f99">Hero</Parent>
    <Path>/Hero/breadcrumb2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T21:45:30</CreateDate>
    <NodeName Default="breadcrumb 2" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bqlflgml/breadcrumb-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>