<?xml version="1.0" encoding="utf-8"?>
<Media Key="e93e19f1-2ff4-476a-a1cd-1081fd681fd3" Alias="breadcrumb1" Level="2">
  <Info>
    <Parent Key="7ac1a855-577d-406a-926e-e3d432717f99">Hero</Parent>
    <Path>/Hero/breadcrumb1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T21:45:12</CreateDate>
    <NodeName Default="breadcrumb1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aosjyc5p/breadcrumb-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>