<?xml version="1.0" encoding="utf-8"?>
<Media Key="8db7c062-0f2f-4785-bea1-d4e1c84f42b3" Alias="Budget Planning for Buccura In..." Level="2">
  <Info>
    <Parent Key="6666228e-33f7-4b3e-8388-fef9d2a7b51d">Projects</Parent>
    <Path>/Projects/BudgetPlanningForBuccuraIn</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T23:32:35</CreateDate>
    <NodeName Default="Budget Planning for Buccura In..." />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sb4bk1zu/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>