<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a25c130-ab97-4db1-82ea-4709697c1b68" Alias="Business Insights for SP Group..." Level="2">
  <Info>
    <Parent Key="6666228e-33f7-4b3e-8388-fef9d2a7b51d">Projects</Parent>
    <Path>/Projects/BusinessInsightsForSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T23:32:08</CreateDate>
    <NodeName Default="Business Insights for SP Group..." />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yj4ipgem/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>