<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa7593b7-6698-4967-abaa-fb44b20bca6b" Alias="contact info background" Level="2">
  <Info>
    <Parent Key="91c9ab04-e0f7-4c1a-8a68-309271eef3de">Contact Info </Parent>
    <Path>/ContactInfo/contactInfoBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T22:04:49</CreateDate>
    <NodeName Default="contact info background" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iuxnoged/contact-info-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>