<?xml version="1.0" encoding="utf-8"?>
<Media Key="08d07e0e-9649-4eeb-b9f5-113f25c21488" Alias="Contact " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-22T07:34:50</CreateDate>
    <NodeName Default="Contact " />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>