<?xml version="1.0" encoding="utf-8"?>
<Media Key="91c9ab04-e0f7-4c1a-8a68-309271eef3de" Alias="Contact Info " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T22:03:55</CreateDate>
    <NodeName Default="Contact Info " />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>