<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7b66d64-8fd6-4ed3-8205-0a0d5034b9ba" Alias="Contact info guy" Level="2">
  <Info>
    <Parent Key="91c9ab04-e0f7-4c1a-8a68-309271eef3de">Contact Info </Parent>
    <Path>/ContactInfo/ContactInfoGuy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T22:04:20</CreateDate>
    <NodeName Default="Contact info guy" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s1ibivon/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>