<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab7b3ffe-5c6e-4abc-89ab-a5b4a46967b1" Alias="dot map" Level="2">
  <Info>
    <Parent Key="67406ef4-b8a3-4a71-83ed-8d85d9cd0bfb">Success story</Parent>
    <Path>/SuccessStory/dotMap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T00:30:11</CreateDate>
    <NodeName Default="dot map" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bsbnsslv/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>