<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f899aef-8853-4e41-bc47-87216d8bc027" Alias="dotted map" Level="2">
  <Info>
    <Parent Key="95912a96-cee9-407b-8222-8568f8ca5b1c">Why choose us </Parent>
    <Path>/WhyChooseUs/dottedMap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T23:43:42</CreateDate>
    <NodeName Default="dotted map" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dutdxxki/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>