<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7dc3e70-fe27-47e8-b069-9498a47be92a" Alias="Financial Advisor" Level="2">
  <Info>
    <Parent Key="c2d41762-a0ea-4732-a3a0-69664fd9aed2">Services</Parent>
    <Path>/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T17:25:48</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qkbh2nj2/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>