<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaa8dcbc-079a-4e7f-acce-5c61cb10c2fc" Alias="Financial Advisors for Irra Grou..." Level="2">
  <Info>
    <Parent Key="6666228e-33f7-4b3e-8388-fef9d2a7b51d">Projects</Parent>
    <Path>/Projects/FinancialAdvisorsForIrraGrou</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T23:32:19</CreateDate>
    <NodeName Default="Financial Advisors for Irra Grou..." />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jzqbuceb/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>