<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ac1a855-577d-406a-926e-e3d432717f99" Alias="Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hero</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-08T14:35:02</CreateDate>
    <NodeName Default="Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>