<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bd817eb-83c7-469d-a4a5-1234aae58100" Alias="Hero-Background" Level="2">
  <Info>
    <Parent Key="7ac1a855-577d-406a-926e-e3d432717f99">Hero</Parent>
    <Path>/Hero/HeroBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-08T14:35:42</CreateDate>
    <NodeName Default="Hero-Background" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mtoj35no/sl-home2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>