<?xml version="1.0" encoding="utf-8"?>
<Media Key="e502bea9-d189-4ef6-a8c8-ffb921113491" Alias="Kevin Gardner small" Level="2">
  <Info>
    <Parent Key="a0be0942-42f1-4f8e-baf9-a2c1a5da09a3">About </Parent>
    <Path>/About/KevinGardnerSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T07:16:30</CreateDate>
    <NodeName Default="Kevin Gardner small" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lmblab2s/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>