<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8fd8b3e-3663-473e-8710-1259e1b8153f" Alias="onatrix team" Level="2">
  <Info>
    <Parent Key="95912a96-cee9-407b-8222-8568f8ca5b1c">Why choose us </Parent>
    <Path>/WhyChooseUs/onatrixTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T23:38:22</CreateDate>
    <NodeName Default="onatrix team" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zq1f4oty/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>