<?xml version="1.0" encoding="utf-8"?>
<Media Key="04201bf9-2a59-43ae-ac2f-c70061f7297e" Alias="partner-6.svg" Level="2">
  <Info>
    <Parent Key="ab4ff68f-9e38-46ce-8866-81be9f0437f3">Partners</Parent>
    <Path>/Partners/partner6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T18:48:32</CreateDate>
    <NodeName Default="partner-6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/botifzsc/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>