<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d712714-22b4-4410-9e64-430ec46b40c6" Alias="partner-3.svg" Level="2">
  <Info>
    <Parent Key="ab4ff68f-9e38-46ce-8866-81be9f0437f3">Partners</Parent>
    <Path>/Partners/partner3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T18:47:56</CreateDate>
    <NodeName Default="partner-3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/20nnhl3p/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>