<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7477b41-742c-4c34-a86b-4ab97c2d2c35" Alias="partner-2.svg" Level="2">
  <Info>
    <Parent Key="ab4ff68f-9e38-46ce-8866-81be9f0437f3">Partners</Parent>
    <Path>/Partners/partner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T18:47:42</CreateDate>
    <NodeName Default="partner-2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wpdokvjx/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>