<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bf6a915-3597-49dd-8f17-b3cb0f153edc" Alias="partner-1.svg" Level="2">
  <Info>
    <Parent Key="ab4ff68f-9e38-46ce-8866-81be9f0437f3">Partners</Parent>
    <Path>/Partners/partner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T18:47:30</CreateDate>
    <NodeName Default="partner-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/22kfjgmm/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>