<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab4ff68f-9e38-46ce-8866-81be9f0437f3" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-11T18:46:23</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>