<?xml version="1.0" encoding="utf-8"?>
<Media Key="48058f1e-acf4-4db3-97c9-95aabe94baf1" Alias="project-details-1" Level="2">
  <Info>
    <Parent Key="6666228e-33f7-4b3e-8388-fef9d2a7b51d">Projects</Parent>
    <Path>/Projects/projectDetails1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T00:13:40</CreateDate>
    <NodeName Default="project-details-1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3qzkpkxp/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>