<?xml version="1.0" encoding="utf-8"?>
<Media Key="6666228e-33f7-4b3e-8388-fef9d2a7b51d" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-16T02:15:42</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>