<?xml version="1.0" encoding="utf-8"?>
<Media Key="b45c7d44-796e-4aff-9d76-2db39833fa96" Alias="project-details-2" Level="2">
  <Info>
    <Parent Key="6666228e-33f7-4b3e-8388-fef9d2a7b51d">Projects</Parent>
    <Path>/Projects/projectDetails2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T00:13:53</CreateDate>
    <NodeName Default="project-details-2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w1ap2vtv/img-1-4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>