<?xml version="1.0" encoding="utf-8"?>
<Media Key="d016a0ed-9b44-4110-96c9-4624c97d9a7d" Alias="Risk Management" Level="2">
  <Info>
    <Parent Key="c2d41762-a0ea-4732-a3a0-69664fd9aed2">Services</Parent>
    <Path>/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T15:00:49</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d2olims5/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>