<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa49bd0d-0954-4a92-ba10-088e9d7d0164" Alias="service-item2" Level="2">
  <Info>
    <Parent Key="c2d41762-a0ea-4732-a3a0-69664fd9aed2">Services</Parent>
    <Path>/Services/serviceItem2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-14T03:56:05</CreateDate>
    <NodeName Default="service-item2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/52aowgcp/service-risk-management-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>