<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2d41762-a0ea-4732-a3a0-69664fd9aed2" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-14T03:54:49</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>