<?xml version="1.0" encoding="utf-8"?>
<Media Key="2228fcc9-9151-414e-bdaf-1a3f7b96b1b0" Alias="Service letter background" Level="2">
  <Info>
    <Parent Key="c2d41762-a0ea-4732-a3a0-69664fd9aed2">Services</Parent>
    <Path>/Services/ServiceLetterBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T12:36:53</CreateDate>
    <NodeName Default="Service letter background" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hnajvqck/service-risk-management-letter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>