<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b03cc1d-0dee-4ef1-aa91-66bcb35dd908" Alias="service-item3" Level="2">
  <Info>
    <Parent Key="c2d41762-a0ea-4732-a3a0-69664fd9aed2">Services</Parent>
    <Path>/Services/serviceItem3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-14T03:57:18</CreateDate>
    <NodeName Default="service-item3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/33ylc0pv/service-risk-management-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>