<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6bd512d-e73f-4d1a-b2f3-724e44d1bc99" Alias="Signature" Level="2">
  <Info>
    <Parent Key="20ddb13b-dca7-4ada-83c1-3fa63bf31a7e">Autograph</Parent>
    <Path>/Autograph/Signature</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-14T01:55:41</CreateDate>
    <NodeName Default="Signature" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/15wb4bbe/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>