<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3882dee-56e2-4842-be31-47d0ca79c221" Alias="star" Level="2">
  <Info>
    <Parent Key="a0be0942-42f1-4f8e-baf9-a2c1a5da09a3">About </Parent>
    <Path>/About/star</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T07:57:20</CreateDate>
    <NodeName Default="star" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dsicuapz/icon_star-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>