<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cf76a54-ca63-4145-a6b8-30e496d60c9b" Alias="Statistic Advisors" Level="2">
  <Info>
    <Parent Key="c2d41762-a0ea-4732-a3a0-69664fd9aed2">Services</Parent>
    <Path>/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T17:26:02</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u1lfltty/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>