<?xml version="1.0" encoding="utf-8"?>
<Media Key="67406ef4-b8a3-4a71-83ed-8d85d9cd0bfb" Alias="Success story" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStory</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T00:29:57</CreateDate>
    <NodeName Default="Success story" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>