<?xml version="1.0" encoding="utf-8"?>
<Media Key="82da3b62-2029-47ec-9ff9-192ab5cba3f6" Alias="Tax and Trusts" Level="2">
  <Info>
    <Parent Key="c2d41762-a0ea-4732-a3a0-69664fd9aed2">Services</Parent>
    <Path>/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T17:25:32</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/scdhqybs/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>