<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fd12bee-9d1f-4ac6-9c2d-a1926f80bef5" Alias="team meeting" Level="2">
  <Info>
    <Parent Key="67406ef4-b8a3-4a71-83ed-8d85d9cd0bfb">Success story</Parent>
    <Path>/SuccessStory/teamMeeting</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T00:30:41</CreateDate>
    <NodeName Default="team meeting" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dslhh1ie/video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>