<?xml version="1.0" encoding="utf-8"?>
<Media Key="814a3b1b-354b-4d6d-8265-316f06cfde94" Alias="Tina fox smaller" Level="2">
  <Info>
    <Parent Key="a0be0942-42f1-4f8e-baf9-a2c1a5da09a3">About </Parent>
    <Path>/About/TinaFoxSmaller</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T09:39:29</CreateDate>
    <NodeName Default="Tina fox smaller" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3gdoqy0q/img_choose_01_home01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>