<?xml version="1.0" encoding="utf-8"?>
<Media Key="041196a9-c5ad-4b31-bf01-d74fc09628de" Alias="Tina fox CEO" Level="2">
  <Info>
    <Parent Key="a0be0942-42f1-4f8e-baf9-a2c1a5da09a3">About </Parent>
    <Path>/About/TinaFoxCEO</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T07:12:19</CreateDate>
    <NodeName Default="Tina fox CEO" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lmvlhzvw/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>