<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="26abf366-0637-4426-aa6d-985e4bf35036" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="178fede2-22bb-4095-843c-a145e0e637d1">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="26abf366-0637-4426-aa6d-985e4bf35036" SortOrder="0">modularPage</ContentType>
    <ContentType Key="979f9a3c-935f-4825-800b-2731883a863d" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="433135ac-b3f9-43b9-b8b7-92e8d44580e2" SortOrder="2">projectListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b1112062-8ac4-4bf1-b04d-9182f9e35d2b</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>c00f5108-6bad-46d3-9d50-5a8ef96d065c</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ef09c67d-1477-4082-a6c1-8076de212413</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ab344ce3-e577-4db7-a45c-6609fbfc3048</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f2e28547-4a1b-48f1-a3b5-6b9f3784b851</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>