<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab87035e-3341-4135-952c-4f6ca8447736" Alias="Another Project" Level="3">
  <Info>
    <Parent Key="97c85f78-bedd-43ad-89fd-39e517e5addc">Projects</Parent>
    <Path>/OnatrixOfficialHome/Projects/AnotherProject</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-26T23:33:27</CreateDate>
    <NodeName Default="Another Project" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="342b68ba-d643-475a-910c-7875607129f6">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateUploaded>
      <Value><![CDATA[February 6, 2024]]></Value>
    </dateUploaded>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Another Project]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "b3867275-8d4f-4911-9ee8-9f8a7399e5ca",
    "mediaKey": "b4f6452c-cef1-4a60-b325-9f818cd161c3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>