<?xml version="1.0" encoding="utf-8"?>
<Content Key="b24d0155-3d39-4267-8b02-5acb051a17c2" Alias="Budget Planning for Buccura Inc." Level="3">
  <Info>
    <Parent Key="97c85f78-bedd-43ad-89fd-39e517e5addc">Projects</Parent>
    <Path>/OnatrixOfficialHome/Projects/BudgetPlanningForBuccuraInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-26T23:31:10</CreateDate>
    <NodeName Default="Budget Planning for Buccura Inc." />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="342b68ba-d643-475a-910c-7875607129f6">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateUploaded>
      <Value><![CDATA[January 3, 2024]]></Value>
    </dateUploaded>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "cec71698-1f13-4fd9-bc45-a1d889a15722",
    "mediaKey": "8db7c062-0f2f-4785-bea1-d4e1c84f42b3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>