<?xml version="1.0" encoding="utf-8"?>
<Content Key="9677bef3-f582-4bda-8cc1-ced6b224e2a0" Alias="Financial Advisors for Irra Group Inc." Level="3">
  <Info>
    <Parent Key="97c85f78-bedd-43ad-89fd-39e517e5addc">Projects</Parent>
    <Path>/OnatrixOfficialHome/Projects/FinancialAdvisorsForIrraGroupInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-26T23:25:58</CreateDate>
    <NodeName Default="Financial Advisors for Irra Group Inc." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="342b68ba-d643-475a-910c-7875607129f6">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateUploaded>
      <Value><![CDATA[February 6, 2024]]></Value>
    </dateUploaded>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisors for Irra Group Inc.]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "f5680198-d34d-49b4-b1f9-ddd3a2d61e4b",
    "mediaKey": "eaa8dcbc-079a-4e7f-acce-5c61cb10c2fc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>