<?xml version="1.0" encoding="utf-8"?>
<Content Key="07857332-39c0-43b6-8fb6-9568ea94cd3a" Alias="Services" Level="2">
  <Info>
    <Parent Key="fa81be14-0d23-4b02-a3ae-34149eecf15e">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-14T03:50:06</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f6f54a0c-0f3a-4783-bdb3-a2d54d92c8b0">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>