<?xml version="1.0" encoding="utf-8"?>
<Content Key="d291cef4-8963-40b1-a889-13b499b2dc2e" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="07857332-39c0-43b6-8fb6-9568ea94cd3a">Services</Parent>
    <Path>/OnatrixOfficialHome/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-18T17:27:53</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95e83498-fca2-4e1f-b3ab-866b874748a5">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "dac6d23a-c1cf-4a15-b6ef-b57848566144",
    "mediaKey": "2cf76a54-ca63-4145-a6b8-30e496d60c9b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>