<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e684399-2e06-4429-8e24-01be5c9de654" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="07857332-39c0-43b6-8fb6-9568ea94cd3a">Services</Parent>
    <Path>/OnatrixOfficialHome/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-18T17:27:15</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95e83498-fca2-4e1f-b3ab-866b874748a5">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "86609786-5d20-4498-aaa8-acaaed3e7d36",
    "mediaKey": "82da3b62-2029-47ec-9ff9-192ab5cba3f6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>